<section class="center-vertical">
	<h1><%= @user %>の投稿</h1>
	<% if @posts.nil? %>
		<p>投稿がありません</p>
	<% end %>
	<% @posts.each do |post| %>
		
			<% if post.user_id == current_user.id %>
				<div class="post center-vertical">
					<img src="<%= post.jacket%>" width="125" height="125">
					<p>アーティスト:<%= post.artist %></p>
					<p>アルバム: <%= post.album %></p>
					<p>曲名: <%= post.title %></p>
					<p><a href="<%= post.sample %>">サンプル</a></p>
					<p>コメント：<%= post.comment %></p>
					<a href="/posts/<%= post.id %>/delete" method="get">削除</a>
					<a href="/posts/<%= post.id %>/edit" method="get">編集</a>
				</div>
			<% end %>
		
	<% end %>
</section>

<section class="center-vertical">
	<h1><%= @user %>のイイねした投稿</h1>
	<p>イイねがありません</p>
</section>

<section class="center-vertical">
	<h1><%= @user %>のフォロー</h1>
	<a href="#">フォロー解除</a><br>
</section>

<section class="center-vertical">
	<h1><%= @user %>のフォロワー</h1>
</section>
