<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<!--<div class="login_button">-->
	</div>
	<div>
		<% if @nowuser.nil? %>
			<form action="signin" method="post">
				<div class="login">
					<input type="text" name="name" placeholder="ユーザー名">
					<input type="password" name="password" placeholder="パスワード">
					<input type="submit" value="Sign in">
				</div>
			</form>
		<% end %>
	</div>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>
	

	<div class="post center-vertical">
		<% @posts.each do |post| %>
		<div class="post center-vertical">
			<img src="<%= post.jacket%>" width="125" height="125">
			<p>アーティスト:<%= post.artist %></p>
			<p>アルバム: <%= post.album %></p>
			<p>曲名: <%= post.title %></p>
			<p><a href="<%= post.sample %>">サンプル</a></p>
			<p>コメント：<%= post.comment %></p>
		</div>
		<% end %>
		<!--<p>投稿者: /p>-->
		<a href="#">フォローする</a>
		<a href="#">フォロー解除</a>
		<p>いいねしたユーザー</p>
		<div class="user-box">
			<img src="" alt="user_image" width="40" height="40">
		</div>
		<a href="#">いいねする</a>
	</div>

	<%# TODO: ここで分岐 %>
	<% if @posts.nil? %>
		<p>投稿がありません</p>
	<% end %>
</section>
