<section class="center-vertical">
	<h1>検索フォーム</h1>
	<form action="search" method="get">
		<input type="text" name="keyward" placeholder="キーワード">
		<input type="submit" value="検索">
	</form>
	<h2>検索結果</h2>
	<p><%= @user %></p>
	
		<div class="center-horizontal">
			<% if @results.size != 0 %>
				<% @results.each do |result| %>
					<div class="post center-vertical">
						<form action="post" method="post">
							<div>
								<img src="<%= result["artworkUrl100"] %>" width="125" height="125"><input type="hidden" name="artworkUrl100" value="<%= result["artworkUrl100"] %>">
							</div>
							<div>
								<p><アーティスト:<%= result["artistName"] %><input id="artistName" type="hidden" name=artistName value="<%= result["artistName"] %>"></p>
							</div>
							<div>
								<p><アルバム:<%= result["collectionName"] %><input id="artistName" type="hidden" name=collectionName value="<%= result["collectionName"] %>"></p>
							</div>
							<div>
								<p>曲名: <%= result["trackName"] %><input type="hidden" name="trackName" value="<%= result["trackName"]%>"></p>
							</div>
							<div>
								<p><a href="<%= result["previewUrl"] %>">サンプル</a><input type="hidden" name="previewUrl" value="<%= result["previewUrl"] %>"></p>
							</div>
							<input type="text" name="comment" placeholder="コメント">
							<input type="submit" value="投稿">
						</form>
					</div>
				<% end %>
			<% else %>
			<%# TODO: 検索結果によって分岐 %>
			<p>検索結果がありません</p>
			<% end %>
		</div>
</section>
